go 1.26.5

use (
	./services/api-gateway
	./services/auth-service
	./services/commerce-service
	./services/course-service
	./services/creator-service
	./services/learning-service
	./services/media-service
	./services/payment-service
	./services/user-service
	./services/video-service
)
